<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dashboardbackend.mapper.CarPlateMapper">
    <!-- Query CarPlate -->
    <select id="getCarPlate" resultType="com.example.dashboardbackend.bean.CarPlate">
        SELECT stuIndex, studentId, studentName, isMale, studyYear, studyGroup, carPlateNum FROM stucarplate
    </select>

    <!-- Number of record -->
    <select id="getCarPlateCount" resultType="Integer">
        SELECT COUNT(*) from stucarplate;
    </select>

    <!-- Add CarPlate-->
    <insert id="addCarPlate" parameterType="com.example.dashboardbackend.bean.CarPlate">
        INSERT INTO stucarplate (studentId, userId, studentName, isMale, studyYear, studyGroup, carPlateNum, stuAddTimestamp) values (#{studentId}, #{userId}, #{studentName}, #{isMale}, #{studyYear}, #{studyGroup}, #{carPlateNum}, #{stuAddTimestamp});
    </insert>

    <!-- Edit CarPlate-->
    <update id="editCarPlate" parameterType="com.example.dashboardbackend.bean.CarPlate">
        UPDATE stucarplate SET studentId=#{studentId}, studentName=#{studentName}, isMale=#{isMale}, studyYear=#{studyYear}, studyGroup=#{studyGroup}, carPlateNum=#{carPlateNum} WHERE stuIndex = #{stuIndex};
    </update>

    <!-- Delete CarPlate -->
    <delete id="deleteCarPlate" parameterType="com.example.dashboardbackend.bean.CarPlate">
        DELETE FROM stucarplate WHERE studentId = #{studentId};
    </delete>

</mapper>
