<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dashboardbackend.mapper.DataHistoryMapper">
    <!-- Query DataHistory -->
    <select id="getDataHistory" resultType="com.example.dashboardbackend.bean.DataHistory">
        SELECT historyIndex, detTimestamp, detCarPlate, detConfidence, detStudentName, detStudentClass, detImageLink FROM dataHistory;
    </select>

    <select id="getUnDataHistory" resultType="com.example.dashboardbackend.bean.DataHistory">
        SELECT historyIndex, detTimestamp, detCarPlate, detConfidence, detStudentName, detStudentClass, detImageLink FROM dataHistory WHERE isAuthorized = 0;
    </select>

    <!-- Number of record -->
    <select id="getDataHistoryCount" resultType="Integer">
        SELECT COUNT(*) from dataHistory;
    </select>

    <select id="getUnDataHistoryCount" resultType="Integer">
        SELECT COUNT(*) from dataHistory WHERE isAuthorized = 0;
    </select>

</mapper>
